.header,
.main,
.footer {
  padding: 8px 16px;
  display: flex;
  font-family: "Red Hat Text", sans-serif;
}

.header,
.footer {
  background-color: rgba(242, 120, 92);
  color: rgba(13, 96, 111);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}
