.section {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(242, 120, 92);
  border-radius: 20px;
}

.header {
  color: rgba(13, 96, 111);
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userList li > a {
  color: #fff;
  text-decoration: none;
}
