* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.title {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.App {
    padding: 6%;
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto) ;
    background-color: rgb(185, 199, 212);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(rgb(61, 159, 157, 0.4));
}

