.TableRow,
.TableHead {
  display: flex;
}

.controller {
  position: fixed;
  left: 16px;
  margin-top: 32px;
  padding: 16px 8px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background-color: #5c998f;
  box-shadow: 5px 5px 15px #5c998f;
  border-radius: 5px;
}
